// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$card-yellow: #f8e4209e;
$card-green: #6bbc61b3;
$card-red: #df383275;
$card-blue: #3eaff996;